<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <!-- Reset.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha256-gvEnj2axkqIj4wbYhPjbWV7zttgpzBVEgHub9AAZQD4=" crossorigin="anonymous" />
  <!-- Font from Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
  <!-- CSS Maison -->
  <link rel="stylesheet" href="/css/style.css">
  <title>Pokedex</title>
</head>
<body>
  <header>
    <nav>
      <a href="/" id="home">Pokedex</a>
      <div>
        <form action="/search" method="post">
            <input type="text" name="nom" >
            <input type="submit" value="Chercher">
        </form>
        <a href="/">Liste</a>
        <a href="/types">Types</a>
        <a href="/team">Mon Équipe</a>
      </div>
    </nav>
</header>
<main>